{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="../index.html" class="govuk-header__link govuk-header__service-name">
        Business Gateway Integration support tool
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<!--Title and search-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full detail-title">
    <a href="#" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">C20240314-063656-948</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">


    <div class="details-section">
      <h2 class="govuk-heading-m">Applicant details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            User ID
          </dt>
          <dd class="govuk-summary-list__value">
            STARLIGHT300
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Key number
          </dt>
          <dd class="govuk-summary-list__value">
            1013553
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business unit ID
          </dt>
          <dd class="govuk-summary-list__value">
            1013553
          </dd>
        </div>
      </dl>
    </div>

    <div class="details-section">
      <h2 class="govuk-heading-m">Application details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Received
          </dt>
          <dd class="govuk-summary-list__value">
            2025-08-01<br>16:45:01.593987
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ABR
          </dt>
          <dd class="govuk-summary-list__value">
            N6789B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Includes attachments
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Includes correspondence
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>
    </div>

    <div class="details-section">
      <h2 class="govuk-heading-m">Errors</h2>
      <p class="govuk-body">No errors found.</p>

      
    </div>

    <div class="details-section">
      <h2 class="govuk-heading-m">Attachments and correspondence</h2>
      <br>
    

      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#attachment-details">
              Attachment details (3)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#correspondence-details">
              Correspondence details (2)
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="attachment-details">
          <h2 class="govuk-heading-l">Attachment details</h2>
          <p class="govuk-body">No attachments found.</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="correspondence-details">
          <h2 class="govuk-heading-l">Correspondence details</h2>
          <p class="govuk-body">No attachments found.</p>
          
        </div>
      </div>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <div class="blue-rule"></div>
    <h2 class="govuk-heading-s">Actions</h2>
    <a class="govuk-link action-link">View record in Cloudwatch (opens in a new tab)</a>
  </div>
</div>



{% endblock %}

{% block footer %}
{% from "hmlr/components/footer/macro.njk" import hmlrFooter %}
{{ hmlrFooter() }}
{% endblock %}