{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="../index.html" class="govuk-header__link govuk-header__service-name">
        Business Gateway Integration support tool
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<!--Title and search-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Integration support tool</h1>
    <h2 class="govuk-heading-m">Search</h2>
    <div>
      <div class="govuk-form-group search-parent">
        <div class="search-field-group">
          <label class="govuk-label" for="width-10">
            Application request ID
          </label>
          <div class="search-field">
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
            <div>
              <img src="/public/images/search-icon.svg" alt="search icon">
            </div>
          </div>
        </div>
        <div class="govuk-button-group">
          <a href="search.html" class="govuk-button govuk-button--secondary button-link">Show filters</a>
          <button type="submit" class="govuk-button govuk-button--inverse inverse-border" data-module="govuk-button">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Filters-->


<!--Search results-->


{% endblock %}

{% block footer %}
{% from "hmlr/components/footer/macro.njk" import hmlrFooter %}
{{ hmlrFooter() }}
{% endblock %}