{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Coded design prototype
    </h1>
    <h2 class="govuk-heading-m">What is the purpose of this prototype?</h2>
    <p class="govuk-body">This is a coded version of the Business Gateway Order Management tool designs. These designs
      are <strong>non-functional</strong> and are minimally interactive. <strong>They are intended to be an additional
        way for developers to view the designs, allowing for cleaner CSS styles than what Figma can output.</strong></p>
    <h2 class="govuk-heading-m">Pages</h2>
    <p class="govuk-body">These are links to the various pages of the tool. Because the pages are non-functional, this
      is the best way to find the page you are looking for. These pages will each open in a new tab.</p>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s">Search page</h2>
    <div class="page-card">
      <h3 class="govuk-heading-s"><a href="search.html" class="govuk-link" target="_blank">Search - Filters open</a></h3>
      <p class="govuk-body-s">This shows the search page with filters open, but before the user has taken any action
        that would create search results.</p>
        <p class="govuk-body-s last-updated">Last updated: 18 Sept 2025</p>
    </div>
    <div class="page-card">
      <h3 class="govuk-heading-s"><a href="search-results.html" class="govuk-link" target="_blank">Search - Filters open, with search results</a></h3>
      <p class="govuk-body-s">This shows the search page with the filters open after a user has taken an action that
        creates search results.</p>
        <p class="govuk-body-s last-updated">Last updated: 18 Sept 2025</p>
    </div>
    <div class="page-card">
      <h3 class="govuk-heading-s"><a href="search-noresults.html" class="govuk-link" target="_blank">Search - Filters open, no results found</a></h3>
      <p class="govuk-body-s">This shows the search page with the filters open and when no results fit the conditions of
        a search.</p>
        <p class="govuk-body-s last-updated">Last updated: 18 Sept 2025</p>
    </div>
  </div>
  <div class="govuk-grid-column-full">
  <div class="page-card">
    <h3 class="govuk-heading-s"><a href="search-filters-closed.html" class="govuk-link" target="_blank">Search - Filters closed</a></h3>
    <p class="govuk-body-s">This shows the search page with filters closed, before the user has taken any action that
      would create search results.</p>
      <p class="govuk-body-s last-updated">Last updated: 18 Sept 2025</p>
  </div>
  <div class="page-card">
    <h3 class="govuk-heading-s">Search - Filters open, with search results</h3>
    <p class="govuk-body-s">This shows the search page with the filters open after a user has taken an action that
      creates search results.</p>
      <p class="govuk-body-s last-updated">Last updated: n/a</p>
  </div>
  <div class="page-card">
    <h3 class="govuk-heading-s">Search - Filters open, no results found</h3>
    <p class="govuk-body-s">This shows the search page with the filters open and when no results fit the conditions of a
      search.</p>
      <p class="govuk-body-s last-updated">Last updated: n/a</p>
  </div>
  <br clear="all"/>
  <div class="spacer"></div>
  <h2 class="govuk-heading-s">Details page</h2>
  <div class="page-card">
    <h3 class="govuk-heading-s"><a href="details-page.html" class="govuk-link" target="_blank">Details page - All information</a></h3>
    <p class="govuk-body-s">This shows the details page when all information is available.</p>
      <p class="govuk-body-s last-updated">Last updated: n/a</p>
  </div>
</div>
</div>

{% endblock %}